[Unit]
After=flannel.service 
Wants=flannel.service
Description=Sync the flannel routing table to a backend

[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/wget -N -P /opt/bin http://storage.googleapis.com/k8s/flannel-route-manager
ExecStartPre=/usr/bin/chmod +x /opt/bin/flannel-route-manager
ExecStart=/opt/bin/flannel-route-manager
Restart=always
RestartSec=10

[X-Fleet]
MachineMetadata=role=control
