[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register

[Service]
ExecStartPre=/usr/bin/wget -N -P /opt/bin http://storage.googleapis.com/k8s/kube-register
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-register
ExecStart=/opt/bin/kube-register \
--metadata=role=knode \
--fleet-endpoint=unix:///var/run/fleet.sock \
--api-endpoint=http://127.0.0.1:8080
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
MachineMetadata=role=knode
