[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/usr/bin/wget -N -P /opt/bin http://storage.googleapis.com/k8s/scheduler
ExecStartPre=/usr/bin/chmod +x /opt/bin/scheduler
ExecStart=/opt/bin/scheduler --master=127.0.0.1:8080
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
MachineMetadata=role=knode
